/* src/styles/Settings.css */
@import './SignIn.css';

.settings {
    background-color: rgba(34, 34, 34, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 10;
}

.settings h2 {
    margin-bottom: 1.5rem;
    color: var(--color-text);
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.settings-option {
    margin-bottom: 1rem;
}